body {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613169809_71-p-zheltii-fon-dlya-instagram-storis-92.jpg");
    background-size: cover;
background-repeat: no-repeat;background-attachment: fixed;
}