<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

 <link rel="stylesheet"  href="{{ url_for('static', filename='css/styles.css')}}" >
    <meta charset="UTF-8">
    <title>Ало</title>
    <title>Ширина 100%</title>

</head>
<body>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <div class="col">

        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
             <p><img src="https://i.artfile.ru/1920x1200_1359989_[www.ArtFile.ru].jpg" width="300px" alight="100px" font-size="16px"></p>

          <div style="text-shadow: black 0 0 5px;" class="flex-column h-100 p-5 pb-3 text-white" solid="black">
               <a href="http://127.0.0.1:5000/site2" >ознакомьтесь здесь</a>
            <h3 class="pt-5 mt-5 mb-4 display-5 lh-1 fw-bold">Барселона</h3>
            <ul class="d-flex list-unstyled mt-center">

              <li class="d-flex align-items-center">
                  <p>Красивый тур по барселоне включет в себя</p>
                  <p>удачное местоположение</p>
                  <p>Раскошный отель</p>
                  <p>Транспорт</p>
                <small></small>
              </li>
            </ul>
          </div>
        </a></div>
      </div>
<div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <p><img src="https://maxhomeinvest.ru/uploads/images/articles/115/atFpPbjN7K.jpg" width="300px" alight="100px" font-size="16px"></p>
          <div style="text-shadow: black 0 0 5px;" class="flex-column h-100 p-5 pb-3 text-white text-shadow-1">
               <a href="http://127.0.0.1:5000/site3" >ознакомьтесь здесь</a>
            <h3 class="pt-5 mt-5 mb-4 display-5 lh-1 fw-bold">Турция</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center me-3">
                   <p>Прекрасный тур по Турции включает в себя</p>
                   <p>Интереные места</p>
                   <p>Прекрасный гид</p>
                   <p>Экзотическая еда</p>
                  <small></small>
              </li>
            </ul>
          </div>
        </a></div>
      </div>
<div class="col">

          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
               <p><img src="https://mykaleidoscope.ru/x/uploads/posts/2022-09/1663149597_16-mykaleidoscope-ru-p-vankuver-kanada-pinterest-19.jpg" width="300px" alight="100px" font-size="16px"></p>
               <style>
        img:hover {
 outline: 6px solid black;
}
    </style>


                <div style="text-shadow: black 0 0 5px;" class="flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                     <a href="http://127.0.0.1:5000/site4" >ознакомьтесь здесь</a>
                  <h3 class="pt-5 mt-5 mb-4 display-5 lh-1 fw-bold">Канада</h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                         <p>Нормальный тур по Канаде включает в себя</p>
                         <p>Прекрасные виды</p>
                         <p>Завтрак,Обед и Ужин</p>
                         <p>Встреча с интересными животными</p>
                        <small></small>
                    </li>
                  </ul>
                </div>
              </div>
          </a></div>
       </div>
    </div>



</body>
</html>
