<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

 <link rel="stylesheet"  href="{{ url_for('static', filename='css/styles.css')}}" >
    <meta charset="UTF-8">
    <title>ЭТО ТУРЦИЯ</title>
    <title>Ширина 100%</title>

</head>
<body style="background-image:url(https://avatars.dzeninfra.ru/get-zen_doc/1716911/pub_5da2d0256d29c100b10b2ac6_5db431ad78125e00ac52685a/scale_1200);background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <div class="col">

          <div style="text-shadow: black 0 0 5px;" class="flex-column h-100 p-5 pb-3 text-white" solid="black">
            <h3 class="pt-5 mt-5 mb-4 display-5 lh-1 fw-bold">Турция</h3>
            <ul class="d-flex list-unstyled mt-center">
              <li class="d-flex align-items-center">
                  <p>Ту́рция (тур. Türkiye [ˈtyr̝kije]), официально — Туре́цкая Респу́блика (тур. Türkiye Cumhuriyeti [ˈtyr̝kije d͡ʒumhuːɾije'ti]) — государство в Западной Азии (97 %) и в Южной Европе (3 %). Население — 83,3 млн чел. (2022), площадь территории — 783 562 км² (занимает 19-е место в мире по численности населения и 36-е по территории). Унитарное государство. Государственный язык — турецкий.

Турция граничит с 14 государствамиПерейти к разделу «#Границы».

Современная Турция образовалась в 1923 году в результате распада Османской империи после её поражения в Первой мировой войне и последовавшей национально-освободительной войны турецкого народа, упразднения монархии и создания на территории восточной Фракии, Малой Азии и Армянского нагорья турецкого национального государства. Прежде чем стать центром Османской империи, этот регион на протяжении истории составлял значительную часть древних государств: Хеттского царства, Ассирии, Урарту, Армении, Византии, Грузии (Колхиды и Иберии), Персии, Рима и т. д.

Индустриальная страна с динамично развивающейся экономикой. Объём ВВП по паритету покупательной способности (ППС) на душу населения — 19 610 долларов в год (2014). В 2014 году ВВП Турции по номиналу составил 806 млрд долл.; ВВП по ППС — 1508 млрд долл.; объём ВВП по номиналу на душу населения — 10 482 доллара в год.</p>
                <p><a href="https://go.tutu.ru/country/turkey/?ysclid=lfl3o2zb9m955479007"><img src="http://www.pitert.ru/sites/default/files/turkey-strengthen-covid-sec-on-land-and-sea.jpg" width="300"
   height="150" alt="Пример"></a></p>
                  <style>
   img {
    border: 3px solid black;
   }
  </style>

              </li>
            </ul>
          </div>
        </a></div>
      </div>

</body>
</html>